@import "tailwindcss";

:root {
  --background: #80A0C0;
  --foreground: #201000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #8aaaca;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::placeholder {
  color: var(--foreground);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--foreground);
  opacity: 1;
}