@import "tailwindcss";

:root {
  --background: #80A0C0;
  --middleground: #d8e0f0;
  --foreground: #201000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --middleground: #101420;
    --foreground: #8aaaca;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.pixel-art {
  image-rendering: pixelated;
}


::placeholder {
  color: var(--foreground);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--foreground);
  opacity: 1;
}